<job group='bootc-qe'>
  <whiteboard>bootc install test on {{ arch }} server</whiteboard>
  <recipeSet>
    <recipe kernel_options="" kernel_options_post="" ks_meta="" role="None" whiteboard="">
      <autopick random="false"/>
      <watchdog panic="None"/>
      <packages/>
      <ks_appends>
        <ks_append><![CDATA[
user --name={{ ssh_user }} --groups=wheel --iscrypted
sshkey --username={{ ssh_user }} "{{ lookup('ansible.builtin.file', ssh_key_pub) }}"
{% if arch == 'x86_64' or arch == "aarch64" %}
zerombr
clearpart --all --initlabel --disklabel=gpt
autopart --type=lvm --fstype=xfs
{% endif %}
%packages
podman
python3
python3-dnf
%end
%post
echo -e '{{ ssh_user }}\tALL=(ALL)\tNOPASSWD: ALL' >> /etc/sudoers
%end
        ]]></ks_append>
      </ks_appends>
      <repos/>
      <distroRequires>
        <and>
          <distro_name op="=" value="{{ distro_name }}"/>
          <distro_arch op="=" value="{{ arch }}"/>
        </and>
      </distroRequires>
      <hostRequires>
        <and>
          <arch op="=" value="{{ arch }}"/>
{% if arch == 'x86_64' or arch == "aarch64" %}
          <hypervisor op="=" value=""/>
{% endif %}
        </and>
      </hostRequires>
      <partitions/>
      <task name="/distribution/check-install" role="STANDALONE"/>
      <task name="/distribution/reservesys" role="STANDALONE"/>
    </recipe>
  </recipeSet>
</job>
