#cloud-config
users:
  - default
{% if platform == 'libvirt' or platform == 'azure' or platform == 'vmware' %}
  - name: {{ ssh_user }}
    groups: wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: true
    ssh_authorized_keys:
      - {{ lookup('ansible.builtin.file', ssh_key_pub) }}
{% endif %}
{% if bib == 'false' and (platform == 'openstack' or platform == 'libvirt') and test_os.startswith('rhel') %}
yum_repos:
  rhel-baseos:
    name: rhel-baseos
    baseurl: http://{{ download_node }}/rhel-{{ major_x }}/nightly/RHEL-{{ major_y }}/latest-RHEL-{{ test_os_dot_version }}/compose/BaseOS/$basearch/os/
    enabled: true
    gpgcheck: false
  rhel-appstream:
    name: rhel-appstream
    baseurl: http://{{ download_node }}/rhel-{{ major_x }}/nightly/RHEL-{{ major_y }}/latest-RHEL-{{ test_os_dot_version }}/compose/AppStream/$basearch/os/
    enabled: true
    gpgcheck: false
{% endif %}
{% if bib == 'false' and (platform == 'openstack' or platform == 'libvirt') %}
packages:
    - python3
    - python3-dnf
    - podman
{% endif %}
{% if platform == 'libvirt' %}
power_state:
  delay: now
  mode: poweroff
  message: Cloud Init Finalized - Shutting down machine
  timeout: 30
{% endif %}
